[project]
name = "stripalerts"
version = "0.1.0"
description = "MicroPython for the Chaturbate Events API on ESP32"
readme = "README.md"
authors = [
    { name = "MountainGod2", email = "admin@reid.ca" }
]
requires-python = ">=3.9"
dependencies = []

[project.scripts]
stripalerts = "stripalerts:main"

[build-system]
requires = ["uv_build>=0.9.26,<0.10.0"]
build-backend = "uv_build"